.recent {
    margin-top: 40px;
    padding: 20px;

    background: white;
    border-radius: 10px;
}

.recent h2 {
    margin-bottom: 15px;
}

.recent ul {
    list-style: none;
}

.recent li {
    margin: 10px 0;
}

.recent a {
    text-decoration: none;
    color: #4da3ff;
}

.recent a:hover {
    text-decoration: underline;
}
