.layout {
    display: flex;
    min-height: calc(100vh - 60px);
}

/* SIDEBAR */

.tree {
    width: 260px;
    background: #1c1c1c;
    color: white;

    padding: 20px;

    border-right: 1px solid #333;
}

/* TITLES */

.tree h3 {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #aaa;
}

/* LIST */

.tree ul {
    list-style: none;
    padding-left: 15px;
}

.tree li {
    margin: 8px 0;
}

/* LINKS */

.tree a {
    color: #4da3ff;
    text-decoration: none;

    transition: 0.2s;
}

.tree a:hover {
    color: #82c1ff;
}

/* FOLDER STYLE */

.tree span {
    color: #ddd;
    font-weight: bold;
}

/* CONTENT */

.content {
    flex: 1;
    padding: 40px;
}
